{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'cinevault/css/style.css' %}">
<link rel="stylesheet" href="{% static 'cinevault/css/trailer.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineVault{% endblock %}</title>   
</head>
<body>

    <header>
        <div class="container navbar">
            <div class="logo">🎬 CineVault</div>

            <nav class="nav-links">
    <a href="/">Início</a>
    <a href="/categorias/">Categorias</a>
    <a href="/filmes/">Filmes</a>
    <a href="{% url 'buscar_filme_api' %}">Buscar</a>
    <a href="/admin/">Admin</a>
</nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>CineVault • Catálogo de filmes</p>
        </div>
    </footer>

</body>
</html>