{% extends 'cinevault/base.html' %}

{% block content %}
<h1>buscar filme na api</h1>

<form method="post">
    {% csrf_token %}
    <label for="titulo">digite o título:</label>
    <input type="text" name="titulo" id="titulo" required>
    <button type="submit">buscar</button>
</form>

{% if erro %}
    <p style="color: red;">{{ erro }}</p>
{% endif %}

{% if dados %}
    <h2>resultado</h2>
    <p><strong>título:</strong> {{ dados.Title }}</p>
    <p><strong>ano:</strong> {{ dados.Year }}</p>
    <p><strong>gênero:</strong> {{ dados.Genre }}</p>
    <p><strong>diretor:</strong> {{ dados.Director }}</p>
    <p><strong>sinopse:</strong> {{ dados.Plot }}</p>
{% endif %}
{% endblock %}