{% extends 'cinevault/base.html' %}

{% block title %}Home | CineVault{% endblock %}

{% block content %}
<div class="card hero">
    <h1>BEM-VINDO AO CINEVAULT</h1>
    <p>
        Um sistema web para gerenciar seu catálogo de filmes. 
        cadastre filmes e categorias, organize seu acervo e utilize a integração com a OMDb API 
        para buscar informações de filmes externos.
    </p>

    <div class="btn-group">
        <a href="/categorias/" class="btn btn-primary">Gerenciar categorias</a>
        <a href="/filmes/" class="btn btn-success">Gerenciar filmes</a>
        <a href="/buscar/" class="btn btn-secondary">Buscar filmes</a>
    </div>
</div>

<div class="card">
    <h2 class="section-title">Sobre o sistema</h2>
    <p class="section-subtitle">
        O CineVault foi desenvolvido com django para demonstrar:
    </p>
    <ul style="margin-left: 20px; line-height: 1.8;">
        <li>Crud completo de categorias</li>
        <li>Crud completo de filmes</li>
        <li>Relacionamento entre entidades</li>
        <li>Uso de django templates</li>
        <li>Consumo de api externa (OMDb API)</li>
        <li>Painel administrativo do django</li>
    </ul>
</div>
{% endblock %}